#upload_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.card-imagem {
    height: 20vh;
}

/* /////// */

@media (min-width: 370px) {
    .pb-md-0-nav {
        padding-bottom: 0 !important;
    }
}

.card-img-pet {
    height: 250px;
    width: auto;
}

/* Galeria */
.galeria-item {
    max-width: 700px;
}

.galeria-button-right {
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%)
}

.galeria-button-left{
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
